<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<h1>David Klaver says, I'M NOT ANNOYED AT ALL RIGHT NOW.</h1>



<p>"Chuck Norris isn't a good shot, his bullets just know better than to miss." post by: Jigmey</p>

<h1>David Klaver says, I'M NOT ANNOYED AT ALL RIGHT NOW.</h1>



<p>"Chuck Norris isn't a good shot, his bullets just know better than to miss." post by: Jigmey</p>


<h1> Matt does say hi... PLEASE WORK!</h1>

DAN


Joel Matos
DAN
Brian
Yvonne

<p>Hello, this is Ray.</p>

Ray and Yvonne don't follow directions

