<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<<<<<<< HEAD
<<<<<<< HEAD
Joel Matos
=======
DAN
>>>>>>> a1919c385f61845b31a52c1fdd2ef71437712990
=======


Brian

DAN
<<<<<<< HEAD
>>>>>>> e76e317d005fd75b36c305d0c1de6909d54cc578
=======

Yvonne
>>>>>>> ca4482934e63cd6e2d350fbe89ca889288c99b6b
